html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#site-grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
}


.main-flex-cotainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-grid-item {
    grid-area: main;
}

.container-busca {
    border: solid black 2px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px 10px 10px;
    width: 300px;
    height: 80px;
}

#pesq_centr{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}

#nome_pokemon {
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
}


.pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    background-color: rgb(194, 113, 7);
    height: 560px;
    width: 420px;
    border-radius: 10px;
}

.visor {
    margin-top: 10px;
    height: 240px;
    width: 240px;
    background-color: rgb(157, 202, 202);
    border: solid white 10px;
}

.botoes {
    padding: 1px;
    margin: 15px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.area {
    background-color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h2{
    font-size: 20px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

#btn{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 290px;
}

